
        #header {
          background: orange;
        }
        
        #logo {
          background : url("/webgis/index.php/view/media/themeImage?key=headerLogo") no-repeat left center;
          background-size:contain;
        
          width: 20px;
          text-align: right;
          
        }
        
        #title {
          top: 40%;
          transform: translateY(-60%);
        }
        
        #title h1{
          color:  #013b3b;
        }
        #logo h1{
          color:  #013b3b;
        }
        
        #title h2{
          color: white;
        }
        